*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(245, 244, 237);
}

h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0px 15px 0px;
}

a{
    text-decoration: none;
}


.navbar__menu{
    height: 45px;
    background-color: #4eb1b1;
}

.navbar__submenu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 55px;
    background-color: #76d4d4;
}

.navbar__submenu--filtros{
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;
}
.navbar__submenu select{
    width: 150px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
}

.navbar__submenu option{
    text-align: center;
}

.navbar__submenu--btn{
    position: relative;
}

.navbar__submenu--btn button{
    border: solid 2px white;
    cursor: pointer;
    background-color: #76d4d4;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    margin-right: 13px;
    border-radius: 50px;
    padding: 8px;
}

.navbar__submenu--btn:hover i{
    transform: rotateZ(-5deg);
}

.contadorCarrito{
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 38, 38);
    border-radius: 50%;
}

.contadorCarrito h6{
    text-align: center;
    padding-top: 3.7px;
    color: white;
    font-weight: 700;
}

.galeria{
    display: grid;
    row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    justify-items: center;
}

.productCard{
    grid-area: "card";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    max-height: 500px;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    border-radius: 10px;
}

.productCard__img{
    margin-top: 8px;
}

.productCard__img img{
    border-radius: 5px 5px 0px 0px;
}

.productCard__text h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0px;
    text-transform: uppercase;
    color: #46A5A5;
    letter-spacing: 1.2px;
    
}

.productCard__btn{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(164, 231, 86);
    margin: 5px 0px 20px 0px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    font-weight: 700;
    letter-spacing: 1.2px;
}

.productCard__btn:active{
    box-shadow: none;
    transform: translate(0.5px,1px);
    background-color: rgb(12, 250, 139);
    color: white;
    font-weight: 700;
}

@media (min-width: 800px){
    .galeria{
        display: grid;
        row-gap: 25px;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "card";
        justify-items: center;
    }
}

/* Carrito de compras */

.styleCarrito{
    display: grid;
    row-gap: 15px;
    grid-template-columns: 380px;
    justify-content: center;
    margin-top: 50px;
}

.carrito__panel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 8px -5px rgba(0,0,0,0.53)
}

.carrito__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 8px -5px rgba(0,0,0,0.53);
}

.carrito__img{
    width: 100px;
    height: 100%;
}

.carrito__img img{
    width: 100%;
    border-radius: 8px;
}

.carrito__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100%;
}

.carrito__text h5{
    font-family: 'Oswald', sans-serif;
    text-align: start;
    font-size: 0.9em;
    margin-left: 10px;
    text-transform: uppercase;
    color: #46A5A5;
    letter-spacing: 1.2px;
}

.carrito__btn--plusMinus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 100%;


}

.carrito__btn--plusMinus button{
    position: relative;
    border: none;
    cursor: pointer;
    margin: 4px 0px;
    background-color: white;
    font-size: 1.3em;
    color: rgb(137, 206, 191);
}

.carrito__btn{
    width: 60px;
    height: 100%;
}

.carrito__btn button{
    position: relative;
    top: 40px;
    left: 18px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 1.3em;
    color: red;
}

.carrito__btn button:active{
    position: relative;
    top: 40px;
    left: 18px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 1.3em;
    color: black;
}

.carrito__panel--btn {
    display: flex;
    flex-direction: column;
}

.carrito__panel--btn button{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(173, 173, 173);
    color: white;
    width: 120px;
    margin: 2.5px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}

#finalizarBtn:hover {
    background-color: rgb(14, 165, 165);
}

#vaciarBtn:hover {
    background-color: rgb(204, 28, 21);
}

.ocultar{
    display: none;
}









