*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(245, 244, 237);
}

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    border-radius: 5px;
}

.productCard img{
    border-radius: 5px;
}

.productCard__text h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0px;
    text-transform: uppercase;
    color: #46A5A5;
}

.productCard__btn{
    background-color: rgb(164, 231, 86);
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 31px -8px #000000;
    font-weight: 700;
}

.productCard__btn:active{
    box-shadow: none;
    transform: translate(0.5px,1px);
    background-color: rgb(12, 250, 139);
    color: white;
    font-weight: 700;
}



