*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(245, 244, 237);
}

.galeria{
    display: grid;
    row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-areas: "card";
    justify-items: center;
}

.productCard{
    grid-area: "card";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    max-height: 500px;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    border-radius: 5px;
}

.productCard__img{
    margin-top: 8px;
    border-radius: 5px;
}

.productCard__text h5{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0px;
    text-transform: uppercase;
    color: #46A5A5;
    letter-spacing: 1.2px;
    
}

.productCard__btn{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(164, 231, 86);
    margin: 5px 0px 20px 0px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.53);
    font-weight: 700;
    letter-spacing: 1.2px;
}

.productCard__btn:active{
    box-shadow: none;
    transform: translate(0.5px,1px);
    background-color: rgb(12, 250, 139);
    color: white;
    font-weight: 700;
}

@media (min-width: 800px){
    .galeria{
        display: grid;
        row-gap: 25px;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "card";
        justify-items: center;
    }
}


